<section id="show-scene-page" data-scene-id="<%= @scene.id %>">
  <div class="columns is-centered section">
    <div class="column is-one-third">
      <%= render @scene %>
    </div>
    <div class="buttons">
      <%= link_to "Edit this scene", edit_scene_path(@scene), class: "button is-primary" %>
      <%= link_to "Back to scenes", scenes_path, class: "button" %>

      <%= link_to "Destroy this scene",
        @scene,
        data: {"turbo-method": :delete},
        class: "button is-danger" %>
    </div>
  </div>

  <div id="whiteboard-canvas"
       class="bulma-center-mixin-parent container"
       data-controller="whiteboard">
    <canvas id="scene-whiteboard"
            class="bulma-center-mixin"
            data-whiteboard-target="canvas"
            style="border:1px solid;">
    </canvas>
  </div>
</section>
